*{
    box-sizing: border-boxbh;
}
.bg-color{
    background-color: whitesmoke;
}   
.form-bg{
  background-color:white;
    text-align: center;
}
#email{
    margin: 20px 20px 20px 20px;
    padding: 10px 10px 10px 10px;
}
#pasword{
    margin: 20px 20px 20px 20px;
    padding: 10px 10px 10px 10px;
}

h1{
    background-color: white;
    color: black;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}
h3{
    background-color: blue;
    color: black;
}
/* 3{
    background-color: blue;
} */
#tag{
  align-items: center;
}
.btn{
    margin-bottom: 20px;
}
.tag{
    text-align: center;
}